.reviews {
    padding: 50px;
    background-color: #000;
    color: #fff;
  }
  
  .reviews h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  hr {
    border: 1px solid #333;
    margin-bottom: 20px;
  }
  
  .review {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid #333;
  }
  
  .review-info {
    flex: 1;
  }
  
  .review-rating {
    flex: 1;
    text-align: center;
  }
  
  .star {
    color: #A4E311;
  }
  
  .review-content {
    flex: 2;
  }
  
  .review-content h3 {
    margin: 0;
    font-size: 1.2em;
  }
  
  .review-content p {
    margin: 5px 0 0;
    color: #888;
  }
  